---
import Header from '../components/Header';
import Footer from '../components/Footer';
import '../styles/global.css';
import '../styles/reset.css';
const { pageTitle,blackMenu } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Header blackMenu={blackMenu} client:load />
    <slot />
    <Footer />
    <!-- <script>
      import "../scripts/menu.js";
    </script> -->
  </body>
</html>